<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Rest API">
    <classes>
      <class name="tests.Basics3"/>
      <class name="tests.Basics4"/>
      <class name="tests.Basics1"/>
      <class name="tests.Basics2"/>
      <class name="tests.Basics7"/>
      <class name="tests.Basics8"/>
      <class name="tests.Basics"/>
      <class name="tests.Basics5"/>
      <class name="tests.Basics6"/>
    </classes>
  </test> 
</suite> 
